.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: grid;
    justify-items: center;
    align-items: center;
}

.game-over-box {
    background-image: linear-gradient(
        to bottom,
        #525301,
        #1ab802,
        #f2ff00
    );
    background-attachment: fixed;
    padding: 1rem;
    width: 40%;
    min-height: 25%;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
}

.game-over-box button {
    background: rgb(0, 77, 77);
    color: #ffffff;
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.game-over-box h2,
.game-over-box p {
    font-family: 'Concert One', cursive;
    font-size: 3rem;
    color: rgb(0, 77, 77);
}