main {
  display: flex;
  justify-content: center;
  min-height: 80vh;
  font-family: monospace;
}

header {
  background: rgb(51, 51, 51);
  display: block;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: space-between;
  align-items: center;
  height: 4rem;
  padding: 1rem 5rem;
}

header p {
  text-align: right;
}

footer {
  background: rgb(51, 51, 51);
  color: #ffffff;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 3rem;
  padding: 0.5rem;
}
