@import url("https://fonts.googleapis.com/css2?family=Hanalei&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  text-align: center;
}

.counter-container {
  margin: 10rem 0;
}

.result {
  font-size: 15rem;
  font-family: "Hanalei", cursive;
  margin-bottom: 1rem;
}
